python-dotenv
pandas
numpy
PyPDF2
reportlab
groq
langchain
langchain-text-splitters
regex
streamlit
altair
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
tqdm
scikit-learn
openai
matplotlib